@page "/addGebruiker"
@attribute [Authorize(Roles = "Administrator")]
@using Rise.Client.Users.Components
@inject NavigationManager NavigationManager

<PageTitle>360° Zorg | Gebruiker toevoegen</PageTitle>

<div class="container">
    
    <div class="row">
        <div class="mb-4">
            <UserToevoegenKaart />
        </div>
    </div>
</div>