@page "/sample"
<Page Title="Sample page">
    <Actions>
        <button class="btn btn-primary">Action 1</button>
        <button class="btn btn-secondary">Action 2</button>
    </Actions>
    <ChildContent>
        
    </ChildContent>
</Page>